select {
    height: 29px;
    background: #fff;
}

.table-calls-container {
    height: 100%;
    overflow: scroll;
}

.table-calls {
    font-size: 0.9em;
    width: 100%;
}

.table-calls td {
    border-bottom: 1px dotted #000;
    border-right: 1px dotted #000;
}

.table-calls thead > tr > td {
    border-top: 1px dotted #000;
}

.table-calls tr > td:first-child {
    border-left: 1px dotted #000;
}

.table-calls thead tr {
    font-weight: bold;
}


.newcall-sumary {
    text-align: right;
}

.newcall-sumary input {
    width: 100px !important;
    text-align: right;
}


#new-call-window {
    display: show;
    padding: 5px;
    background: #e6ffe6;
    margin: 10px;
    border: 1px solid #333;
    display: none;
}

#new-call-window .newcall-title {
    border: 1px solid #000;
    background: #030;
    color: #9fdfbf;
    margin: -5px -5px 15px -5px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

#new-call-window form {
    margin: 0px;
    padding: 0px;
}

#new-call-window form  label {
    font-size: 14px;
    font-weight: bold;
    color: #800;
}

#new-call-window form  input, #new-call-window form  select {
    font-size: 14px;
    border: 1px solid #007;
    padding: 5px;
    width: 100%;
}

#new-call-window form  button {
    font-size: 14px;
}

.newcall-form-group {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}

.newcall-tools {
    clear: both;
    text-align: right;
}

.newcall-waypoints-container {
    border: 1px dotted #800;
    margin: 10px 5px 10px 0px;
    padding: 5px;
}

.call-row-selected {
    background: #007;
    color: #fff;
}


/*
#area, #line {
    width: 40px;

}
#phoneNumber {
    width: 90px;
}

#passengerName {
    width: 300px;
}

#pickupAddress, #destinationAddress {
    width: 600px;
}

.txt-waypoint {
    width: 594px;
}

*/