body {
    font-family: Arial, Helvetica, sans-serif;
}
.app-container {
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    overflow: hidden;
}
.app-brand-container {
    position: absolute;
    left: 1px;
    top: 1px;
    height: 25px;
    max-height: 25px;
    overflow: hidden;
    width: 30%;
}

.app-menu-container {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 25px;
    max-height: 25px;
    overflow: hidden;
    width: 60%;
}

.app-lines-container {
    position: absolute;
    left: 1px; top: 25px;
    height: 125px;
    max-height: 125px;
    width: 65%;
}
.app-messages-container {
    position: absolute;
    left: 65%; top: 25px;
    background: #768905;
    height: 125px;
    max-height: 125px;
    width: 15%;
}
.app-status-container {
    position: absolute;
    left: 80%; top: 25px;
    background: #234532;
    height: 125px;
    max-height: 125px;
    width: 20%;
}

.app-calls-container {
    position: absolute;
    left: 1px; top: 150px;
    background: #fff;
    width: 70%;
    bottom: 25px;
}
.app-map-container {
    position: absolute;
    left: 70%; top: 150px;
    width: 30%;
    bottom: 35px;
}

.app-shortcuts-container {
    position: absolute;
    left: 1px; 
    background: #ddd;
    width: 70%;
    bottom: 1px;
    height: 25px;
}
.app-mapcontrols-container {
    position: absolute;
    left: 70%;
    background: #C0ECAE;
    width: 30%;
    bottom: 1px;
    height: 35px;
}

.clean-left {
    clear: left;
    height: 5px;
}