.main-menu-container {
    text-align: right;
    float: right;
}

.main-menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.main-menu > li {
    float: left;
    margin-left: 15px;
}

.main-menu > li > a {
    padding: 5px;
    color: #000;
    text-decoration: none;
}

.main-menu > li > a:hover, .main-menu > li > a:visited {
    padding: 5px;
    background: #b3e6b3;
    color: #000;
    text-decoration: none;
}

.main-menu .main-menu-submenu {
    display: none;
}