.table-lines {
    width: 100%;
    font-size: 17px;
}

.table-lines td {
    padding: 0px;
    background: #8c8;
    height: 29px;
}

.table-lines .line-number {
    width: 25px;
    font-weight: bold;
    text-align: center;
    background: #29a329;
}

.table-lines .line-phone {
    max-width: 110px;
    width: 110px;
}

.table-lines tr:first-child td {
    border-top: 1px dotted #004d00;
}

.table-lines tr td:first-child {
    border-left: 1px dotted #004d00;
}
.table-lines td {
    border-right: 1px dotted #004d00;
    border-bottom: 1px dotted #004d00;
}

.table-lines input {
    border: 0px solid #000;
    background: #8c8;
    font-size: 16px;
    width: 100%;
    padding-left: 10px;
}