body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 0px; padding: 0px;
    background-color: #000;
    background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/05/Blurred-city-street-world-wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #060;
    font-size: 0.8em;
}
button {
    padding: 5px 15px;
    font-size: 1em;
}

.main-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* border: 1px solid #f00; */
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #000;
    background: #eaffe0;
}


.login-header, .login-footer {
    padding: 15px; 
    margin: 15px;
}
.login-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 400px;
}

.error-login {
    margin-top: 10px;
    font-size: 0.8em;
    color: #f00;
}