.card {
    margin-top: 0px;
}

label {
    margin-bottom: 0px !important; 
}

input {
    text-transform: uppercase;
}

::placeholder {
    color: #dcdcdc !important; 
}

.button-container {
    margin: 2px 0px;
}

.call-new {
    color: #000c63;
}

.op-red { color: #f00; }
.op-darkred { color: #700; }
.op-blue { color: #009; }
.op-darkblue { color: #000c63; }
.op-black { color: #000; }
.op-green { color: #040; }
.op-gray { color: #828282; }
.op-white { color: #ccc; }
.op-yellow { color: #d9d900; }
.op-silver { color: #dbdbdb; }
.op-gold { color: #9c990c; }

.op-bg-red { background: #f00; }
.op-bg-darkred { background: #700; }
.op-bg-blue { background: #009; }
.op-bg-darkblue { background: #000c63; }
.op-bg-black { background: #000; }
.op-bg-green { background: #040; }
.op-bg-gray { background: #828282; }
.op-bg-white { background: #ccc; }
.op-bg-yellow { background: #d9d900; }
.op-bg-silver { background: #dbdbdb; }
.op-bg-gold { background: #9c990c; }